.page01 {
    align-items: center;
    justify-content: center;

}

.logo.page01 {
    Width: 136px;
    Height: 161px;
}

.page01 h1 {
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #FFFFFF;
    margin-top: 30px;
}

.start {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 246px;
    height: 54px;
    background-color: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-size: 18px;
    color: #D70900;
    margin-top: 30px;
}

.start p {
    color: #D70900;
}